.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent;
  transition: opacity 500ms;
  display: none;
  opacity: 0;
  z-index: 5;
}

.popup {
  margin: auto;
  border-radius: 5px;
  position: relative;
  transition: all 5s ease-in-out;
  height: fit-content;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid black;
}

.popup h2 {
  padding: 10px 40px 10px 30px;
  margin: 0;
  font-family: Tahoma, Arial, sans-serif;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
  padding: 5px 40px 10px 30px;
}

.pointerAction {
  z-index: 5;
  opacity: 0;
  position: absolute;
}