$atsLightGrey: #afb3b0;
$atsBlack: #11171B;
$atsWhite: #FCFCFC;
$atsGrey: #404040;
$atsBlue: #6271B3;
$atsDarkBlue: #006fc9;
$fontSize: 15px;

body {
    font-family: Arial, Helvetica, sans-serif;
}

#loadingPercent {
    color: $atsLightGrey;
    font-size: $fontSize;
}

#screenBackground {
    background-color: black;
}

.watermark {
    opacity: 0.5;
    color: grey;
    right: 5vw;
    top: 5vh;
    transform: rotate(0deg);
    height: 100px;
    width: 100px;
    background-position: center;
}

.playerState {
    color: $atsWhite;
    transition: 0.5s !important;
    opacity: 1;
    margin: auto;
    position: relative;
    font-size: 3em;
    width: 50px;
    text-align: center;
    padding: 30px;
    border-radius: 50%;
    background-color: $atsBlack !important;
    /* bottom: 0; */
    height: 50px !important;
}

#flashReport {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(140, 140, 140, 0.9);
    box-shadow: 6px 6px 6px rgba(140,140,140, 0.4);
}

// #flashReport:after {
//     content: "";

//     width: 15px;
//     height: 15px;
//     margin-left: -0.5em;
//     bottom: -28px;
//     left: 15px;
//     box-sizing: border-box;
//     // border: 1em solid rgba(238,238,238,0.5);
//     // border-color: transparent transparent rgba(99, 99, 99, 0.8) rgba(99, 99, 99, 0.8);
//     background-color: rgba(140, 140, 140, 0.9);
    
//     transform-origin: 0 0;
//     transform: rotate(-45deg);
    
//     box-shadow: 8px 8px 8px rgba(140,140,140, 0.4);
// }

#flashReport:after {
    content: "";
    position: absolute;
    /* display: inline-block; */
    /* margin: 0 5px; */
    /* vertical-align: middle; */
    /* width: 0px; */
    /* height: 0px; */
    left: 10px;
    bottom: -20px;
    border-top: solid 20px rgba(140, 140, 140, 0.9);
    border-left: solid 20px transparent;
    border-right: solid 20px transparent;
}

.animationVariable {
    font-weight: bold;
    color: $atsDarkBlue;
    font-style: italic;
}

#flashReport a:link,#flashReport a:visited,#flashReport a:hover,#flashReport a:active, #flashReport  {
    color: $atsWhite;
    text-decoration: none;
  }

#flashReport #description a {
    color: $atsDarkBlue;
    text-decoration: underline;
}

#stopRequest {
    font-size: 17px;
    color: $atsLightGrey;
    position: relative;
    top: 5px;
    /* right: 0; */
    float: right;
}
  

#imgToolTip {
    background-color: $atsWhite;
    border: $atsBlack 1px solid;
}

#playButton, #pauseButton, #nextButton, #previousButton, #infoLabel {
    color: $atsWhite;
}

#rangePointer {
    color: $atsWhite;
}

.nav {
    background-color: $atsBlack;
}

#player {
    background-color: $atsBlack;
}

.chapterProgressBar {
    border-left: 4px solid $atsLightGrey;
}

input[type=range]::-webkit-slider-thumb {
    background-color: $atsDarkBlue;
}

input[type=range]::-moz-range-thumb {
    background-color: $atsDarkBlue;
}

.loadingCircle {
    border: 1px solid $atsWhite;
    border-left-color: $atsLightGrey;
}

.loadingDone {
    border-color: $atsLightGrey;
}

.loadingCheckmark {    
    &:after {
        border-right: 3px solid $atsLightGrey;
        border-top: 3px solid $atsLightGrey;
    }
}

#uploader {
    font-size: $fontSize;
}

.left-pane {
    width: 25%;
    background: $atsWhite;
    color: $atsBlack;
  }

#loadingLabel {
    color: $atsBlack;
}

.hide {
    display: none;
}

#scriptName {
    color: $atsWhite;
    font-size: 16px;
    margin: 5px;
}

.openingButton {
    color: $atsWhite;
}


.hoverChapter {
    color: $atsLightGrey;
    font-weight: bold;
}


.panes-separator {
    width: 10px;
    background: $atsLightGrey;
  }

  .bolder, .textBolder {
      font-weight: bold;
  }

  .popupFrame {
      background-color: $atsWhite;
      color: $atsBlack;
  }

  .popupTitle {
      color: $atsBlack;
  }

  #left-side,#bottom-side,#top-side,#right-side   {
    background: $atsBlue;
  }

  .textInputAnimation {
    border: 2px solid $atsBlue;
  }

  .circle, .inner {
    background-color : $atsBlue;
  }

.red {
    color: red;
}

.green {
    color: green;
}

.removeFormat {
    color: #11171B !important;
    font-weight: normal !important;
    font-style: normal !important;
}