$agilitestOrange: #FABA00;
$agilitestBlack: #11171B;
$agilitestWhite: #FCFCFC;
$agilitestGrey: #EEE;
$fontSize: 15px;

body {
    font-family: Arial, Helvetica, sans-serif;
}

#loadingPercent {
    color: $agilitestOrange;
    font-size: $fontSize;
}

#screenBackground {
    background-color: black;
}

.watermark {
    opacity: 0.5;
    color: black;
    right: 150px;
    bottom: 150px;
    transform: rotate(0deg);
    height: 100px;
    width: 100px;
    background-position: center;
}

#flashReport {
    background-color: black;
    border-radius: 6px;
    box-shadow: 4px 4px 8px 2px rgba(238, 238, 238, 0.3);
    border: 1px solid rgba(238,238,238,0.5);
}

#flashReport:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    margin-left: -0.5em;
    bottom: -28px;
    left: 15px;
    box-sizing: border-box;
    border: 1em solid rgba(238,238,238,0.5);
    border-color: transparent transparent black black;
    
    transform-origin: 0 0;
    transform: rotate(-45deg);
    
    box-shadow: -3px 8px 6px 0px rgba(238, 238, 238, 0.3);
}

#flashReport a:link,#flashReport a:visited,#flashReport a:hover,#flashReport a:active, #flashReport  {
    color: $agilitestWhite;
  }

#stopRequest {
    font-size: 20px;
    color: $agilitestOrange;
    float: right;
  }
  

#imgToolTip {
    background-color: $agilitestWhite;
    border: $agilitestBlack 1px solid;
}

#playLabel, #pauseLabel, #restart, #fullScreen, #infoLabel {
    color: $agilitestWhite;
}

#rangePointer {
    color: $agilitestOrange;
}

#player {
    background-color: $agilitestBlack;
}

.chapterProgressBar {
    border-left: 4px solid $agilitestOrange;
}

input[type=range]::-webkit-slider-thumb {
    background-color: $agilitestOrange;
}

input[type=range]::-moz-range-thumb {
    background-color: $agilitestOrange;
}

.loadingCircle {
    border: 1px solid $agilitestWhite;
    border-left-color: $agilitestOrange;
}

.loadingDone {
    border-color: $agilitestOrange;
}

.loadingCheckmark {    
    &:after {
        border-right: 3px solid $agilitestOrange;
        border-top: 3px solid $agilitestOrange;
    }
}

#uploader {
    font-size: $fontSize;
}

.left-pane {
    width: 25%;
    background: $agilitestWhite;
    color: $agilitestBlack;
  }

.progress {
    background: $agilitestOrange;
  }

#loadingLabel {
    color: $agilitestOrange;
}

.hide {
    display: none;
}

#scriptName {
    color: $agilitestWhite;
    font-size: 16px;
    margin: 5px;
}

.openingButton {
    color: $agilitestWhite;
}


.hoverChapter {
    color: $agilitestOrange;
    font-weight: bold;
}


.panes-separator {
    width: 10px;
    background: $agilitestOrange;
  }

  .bolder {
      font-weight: bold;
  }

  .popup {
      background-color: $agilitestOrange;
  }

  .popup h2 {
      color: $agilitestWhite;
  }

  .popup .content {
      background-color: $agilitestWhite;
      color: $agilitestBlack;
  }