.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent;
  transition: none;
  display: none;
  opacity: 1;
  z-index: 12;
}

.positioned {
  height: auto;
  top: initial;
  bottom: initial;
  left: initial;
  right: initial;
  position: absolute;
}

.popupFrame, .imgFrame, .popupContent, .popupTitle {
  opacity: 1;
  position: absolute;
  display: flex;
  overflow: auto;
  z-index: 10;
  will-change: transform, opacity;
}

.popupFrame {
  width:100%;
  height:60px;
  opacity: 0.9;
  bottom:10vh;
  opacity: 0;
  border-top: 1px solid grey;
  left:0;
  box-shadow: 0 4px 2px 2px rgba(0, 0, 0, 0.5);
}

.imgFrame {
  width: 32px;
  height: 32px;
  left: 2vw;
  top: 0;
  bottom: 0;
  margin: auto;
}

.popupContent {
  position: relative;
  opacity: 1;
  /* width: 70%; */
  /* left: 2vw; */
  opacity: 0;
  margin: auto 20px;
  text-align: left;
}

.textInputAnimation {
  background-color: white;
  color: black;
  text-align: left;
  opacity: 0;
  position: absolute;
  z-index: 9;
  padding: 0 0 0 5px;
  align-items: center;
}

.popupTitle {
  position: relative;
  opacity: 0;
  width: 6vw;
  opacity: 0;
  /* left: 4vw; */
  margin: auto 0;
  align-items: center;
  margin-left: 4vw;
}

.popupContent p {
  margin: auto 1vw;
}

.popupContent img {
  vertical-align: middle;
  margin: 0 10px;
}

.box {
  position:absolute;
  padding:0;
  margin: 0;
}

.box span {
  position: absolute;
  z-index: 5;
  background: none transparent;
  width: 0px;
  height: 0px;
}

#left-side {
  left: 0;
  bottom: 0;
}

#top-side {
  top: 0;
  left: 0;
}

#right-side {
  right: 0;
  top: 0;
}

#bottom-side {
  bottom: 0;
  right: 0;
}

.circle, .inner{
  position : absolute;
  border-radius : 50%;
  width: 0;
  height: 0;
  z-index: 10;
}

.inner {
  background-color : transparent;
}

.pointerAction {
  z-index: 10;
  opacity: 0;
  position: absolute;
}

.animationImg {
  display: flex !important;
  opacity: 1 !important;
  padding: 3px;
}