$agilitestOrange: #FABA00;
$agilitestBlack: #11171B;
$agilitestWhite: #FCFCFC;
$agilitestGrey: #CCC;
$fontSize: 15px;

body {
    font-family: Arial, Helvetica, sans-serif;
}

#pourcentageAvancement {
    color: $agilitestOrange;
    font-size: $fontSize;
}

#fondEcran {
    background-color: black;
}

#imgToolTip {
    background-color: $agilitestWhite;
    border: $agilitestBlack 1px solid;
}

#playLabel, #pauseLabel, #restart, #fullScreen {
    color: $agilitestWhite;
}

#avancementPointeur {
    color: $agilitestOrange;
}

#logo {
    opacity: 0.5;
    background-image: url("./images/agilitest_logo.png");
  }

#flashReport {
    color: $agilitestWhite;
}


#player {
    background-color: $agilitestBlack;
}

.chapitresProgressBar {
    border-left: 4px solid $agilitestOrange;
}

input[type=range]::-webkit-slider-thumb {
    background-color: $agilitestOrange;
}

input[type=range]::-moz-range-thumb {
    background-color: $agilitestOrange;
}

.cercleChargement {
    border: 1px solid $agilitestWhite;
    border-left-color: $agilitestOrange;
}

.chargementTermine {
    border-color: $agilitestOrange;
}

.chargementCheckmark {    
    &:after {
        border-right: 3px solid $agilitestOrange;
        border-top: 3px solid $agilitestOrange;
    }
}

#uploader {
    font-size: $fontSize;
}

.left-pane {
    width: 18%;
    background: $agilitestWhite;
    color: $agilitestBlack;
  }

.panelGauche li {
    font-size: $fontSize;
}

.panelGauche h2 {
    color: $agilitestOrange;
    font-size: 20px;
}

#scriptName {
    color: $agilitestWhite;
    font-size: 16px;
    margin: 5px;
}

.boutonOuverture {
    color: $agilitestWhite;
}


.hoverChapter {
    color: $agilitestOrange;
    font-weight: bold;
}


.panes-separator {
    width: 10px;
    background: $agilitestOrange;
  }

  .left-pane-atsv {
    background-color: $agilitestGrey;
    border-right: 2px black solid;
  }